server_tokens off;

server {
    listen 80 default_server;

    server_name {{ server_name }};

    location ~ /.well-known {
        root /var/www/letsencrypt;
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# handle www
server {
	listen 80;

	server_name www.{{ server_name }};
	return 301 $scheme://{{ server_name }}$request_uri;
}
