log_format traffic '$remote_addr - $remote_user [$time_local] '
                    '"$request" $status $body_bytes_sent '
                    '"$http_referer" "$http_user_agent" '
                    '$bytes_sent $request_time';

server {
    listen 80 default_server;

    server_name {{ server_name }};
    access_log /var/log/nginx/rshiny_access.log traffic;
    error_log /var/log/nginx/rshiny_error.log;

    location = /catalyst-logo.png {
        try_files /catalyst-logo.png =404;
    }

    location = /index.html {
        try_files /index.html =404;
    }

    # R Shiny Server
    location / {
        proxy_pass http://localhost:3838;
        proxy_redirect http://localhost:3838/ $scheme://$host/;
    }
}
